@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --font-family-primary: 'Montserrat', 'Roboto', sans-serif; 
    --bg-primary: #1e1e1e;
    --bg-secondary: #3a3a3a;
    --bg-third: #4d4d4d;
    --bg-orange: #fc8b54;
    --color-barra: #585858;
    --font-color-primary: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
    font-family: var(--font-family-primary);
    color: var(--font-color-primary);
}

body{
    background: rgb(40,40,40);
    background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(21,21,21,1) 100%);

}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin: 0 0 0 0;
}


main, footer {
    width: 100%;
}

section{
    padding: 8px 12px;
    width: 100%;
}

.container-perfil{
    display: flex;
    width: 53%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.sino{
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.perfil-nome{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.arredondar-imagem, .arredondar-imagem img{
    object-fit: cover;
    aspect-ratio: 3/4;
    border-radius: 100%;
}

.perfil{
    width: 60px;
    height: 60px;
}

.text-welcome{
    font-size: 0.75em;
    margin-bottom: 2px;
    font-weight: 200;
}

.text-name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 1.2em;
}

.total{
    font-size: 0.85em;
    font-weight: 200;
}

.icone-sino{
    height: 50px;
    width: 50px;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--bg-secondary);
    color: #fff;
}

.statistic{
    border-radius: 60px;
    height: 42px;
    width: 103px;
    padding: 3px;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-finance{
    height: 110px;
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quantity, .dollar{
    font-size: 2.8em;
    font-weight: 600;
}

.dollar{
    color: var(--bg-orange);
}

.text-statistic{
    font-size: 0.9em;
    font-weight: 400;
}

.container-statistic, .container-cash{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.circle-white{
    height: 23px;
    width: 23px;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 100%;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container-circle{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.money{
    position: relative;
    z-index: 999;
    top: -8px;
    left: 6px;
}

.arrow{
    position: relative;
    top: -2px;
    left: 16px;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    font-size: 0.75em;
    transform: rotate(-220deg);
    background-color: var(--bg-secondary);
}

.arrow-out{
    transform: rotate(-220deg);
}
.arrow-in{
    transform: rotate(320deg);
}

.barra{
    background-color: var(--color-barra);
    height: 46px;
    width: 1px;
}

.container-balance{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background-color: var(--bg-secondary);
}

.transfer, .request{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.container-plan{
    background-color: var(--bg-secondary);
    border-radius: 25px;
    width: 25%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-plan{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.img-emoji-money{
    background-color: var(--bg-third);
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.img-emoji-money img{
    width: 25px;
    height: 25px;
}

.transactions {
    display: flex;
    border-radius: 25px;
    height: 110px;
    width: 72%;
    padding: 6px;
    flex-direction: column;
    background-color: var(--bg-orange);
    justify-content: space-around;
}

.recent{
    width: 100%;
    font-weight: 1em;
    font-weight: 600;
}

.container-transactions{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.imagem-person{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
 
.imagem-person img{
    height: 46px;
    width: 46px;
    object-fit: cover;
    border-radius: 100%;
}

.img5, .get-plan{
    display: none;
}

.section-balance{
    width: 100%;
}


.container-all-transactions{
    color: #1e1e1e;
    width: 100%;
    border-radius: 25px 25px 0 0;
    background-color: #fefefe;
    padding: 8px 12px;
    max-height: 50%;
    overflow-y: scroll;
}


.description-transaction, .total-transaciton{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}

.description-transaction{
    align-items: flex-start;
    margin-left: 20px;
    width: 50%;
}

.total-transaciton{
    width: 30%;
    align-items: flex-end;
    margin-left: 25px;
}


.title-transactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
    flex-wrap: nowrap;
}

.text-transaction{
    color:#1e1e1e;
    font-weight: 600;
    font-size: 1.2em;
}

.text-see{
    color: #cbcbcb;
    font-size: 0.8em;
    font-weight: 600;
}

.all-transactions{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-transactions > div{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-transaction{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image1, .logo1, .mac1{
    border-radius: 100%;
    width: 48px !important;
    height: 48px !important;
    background-position: center;
    background-size: cover;
}

.image1{
    background-image: url('./images/image1.png');
}

.logo1{
    background-image: url('./images/logo1.png');
}

.mac1{
    background-image: url('./images/mac1.png');
}

.title-transaction{
    font-size: 0.88em;
    font-weight: 700;
}

.transaction-date, .transaction-status{
    font-size: 0.75em;
    color: #cbcbcb;
}

.transaction-value{
    font-size: 0.94em;
    font-weight: 600;
}

.transaction-green{
    color: #78c077;
}

.transaction-red{
    color: #c55c31;
}


.rodape{
    width: 100%;
    background-color: #fff;
    color: #cbcbcb;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 66px;
    margin-top: -1px;
    -webkit-box-shadow: -10px -13px 57px -25px rgba(0,0,0,0.18);
    -moz-box-shadow: -10px -13px 57px -25px rgba(0,0,0,0.18);
    box-shadow: -10px -13px 57px -25px rgba(0,0,0,0.18);
}


.container-money{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container-image-person{
    display: none;
}

.see-more{
    display: none;
}

@media screen and (min-width:320px)  and (max-width: 479px)
{ /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .text-name {
        font-size: 1em;
    }

    .perfil-nome{
        margin-left: 13px;
        flex-wrap: nowrap;
    }

    .container-perfil{
        width: 57%;
    }

    .quantity, .dollar{
        font-size: 2.5em;
    }


    .transfer, .request, .text-statistic{
        font-size: 0.85em;
    }

    .text-plan, .recent{
        font-size: 0.8em;
    }

    .icone-sino{
        height: 42px;
        width: 42px;
        font-size: 1.1em;
    }
}

@media screen and (min-width:480px) and (max-width: 599px)
{ /* smartphones, Android phones, landscape iPhone */ 

    .container-perfil{
        justify-content: flex-start
    }

    .perfil-nome{
        margin-left: 1.4em;
    }

    .imagem-person img{
        height: 52px;
        width: 52px;
    }

    .transactions{
        padding: 0.8rem;
    }

    .rodape {
        font-size: 1.15em;
    }

    .title-transaction{
        font-size: 0.95em;

    }

    .transaction-date {
        font-size: 0.85em;
    }
    
    .transaction-value{
        font-size: 1em;
    }

    .transaction-status{
        font-size: 0.9em;
    }

    .money{
        top: -9px;
        left: 5px;
    }
}


@media (min-width:600px) and (max-width: 800px) 
{ /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    .container-perfil{
        justify-content: flex-start
    }

    .perfil-nome{
        margin-left: 1.4em;
    }

    .imagem-person img{
        height: 54px;
        width: 54px;
    }

    .transactions{
        padding: 0.8rem;
    }

    .img5{
        display: block;
    }

    .img-emoji-money{
        height: 55px;
        width: 55px;
    }

    .img-emoji-money img{
        height: 30px;
        width: 30px;
    }

    .statistic{
        height: 52px;
        width: 113px;
    }

    .text-statistic {
        font-size: 1em;
    }

    .rodape {
        font-size: 1.2em;
    }

    .title-transaction{
        font-size: 1.1em;
    }

    .description-transaction{
        margin-left: 5px;
    }

    .transaction-date {
        font-size: 0.85em;
    }
    
    .transaction-value{
        font-size: 1.1em;
    }

    .transaction-status{
        margin-top: 8px;
        font-size: 0.9em;
    }

    .text-transaction{
        font-size: 1.4em;
    }

    .text-see{
        font-size: 1em;
    }
}

@media (min-width:801px) and (max-width: 1280px) 
{ /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .container-perfil{
        justify-content: flex-start
    }

    .container-perfil img{
        width: 66px;
        height: 66px;
    }

    .text-name{
        font-size: 1.4em;
    }

    .text-welcome{
        font-size: 0.9em;
    }

    .total{
        font-size: 1em;
    }
    .perfil-nome{
        margin-left: 1.4em;
    }

    .imagem-person img{
        height: 54px;
        width: 54px;
    }

    .transactions{
        padding: 0.8rem;
    }

    .img5{
        display: block;
    }

    .img-emoji-money{
        height: 55px;
        width: 55px;
    }

    .img-emoji-money img{
        height: 30px;
        width: 30px;
    }

    .statistic{
        height: 56px;
        width: 123px;
    }

    .text-statistic {
        font-size: 1.18em;
    }

    .circle-white{
        height: 32px;
        width: 32px;
    }

    .money{
        font-size: 1.15em !important;
        left: 9px;
    }

    .text-request, .text-transfer{
        font-size: 1.2em;
    }

    .usd{
        font-size: 1.2em;
    }

    .get-plan{
        display: block;
        flex: 1;
        margin-left: 10px;
        display: flex;
    }

    .section-balance{
        display: flex;
    }

    .container-balance{
        width: 68%;
        height: 110px;
    }

    .plan{
        display: none;
    }
    .transactions{
        width: 100%;
        height: 128px;
    }

    .imagem-person{
        justify-content: center;
        gap: 60px;
        margin-top: 10px;
    }

    .transactions img{
        border-radius: 20%;
        height: 70px;
        width: 70px;
        
    }

    footer{
        display: none;
    }

    .container-all-transactions{
        height: auto;
        max-height: 400px;
    }

    .arrow{
        font-size: 1em;
        top: -2px;
        left: 21px;
        width: 14px;
    }

    .description-transaction{
        font-size: 1.2em;
        margin-left: 0;
    }

    .transaction-value{
        font-size: 1.3em;
    }

}

@media (min-width:1200px) { 
    /* hi-res laptops and desktops */ 
    .container-perfil{
        justify-content: flex-start
    }

    .container-perfil img{
        width: 66px;
        height: 66px;
    }

    .text-name{
        font-size: 1.4em;
    }

    .text-welcome{
        font-size: 0.9em;
    }

    .total{
        font-size: 1em;
    }
    .perfil-nome{
        margin-left: 1.4em;
    }
    imagem-person

    .imagem-person img{
        height: 54px;
        width: 54px;
    }

    .transactions{
        padding: 0.8rem;
    }

    .img5{
        display: block;
    }

    .statistic{
        height: 56px;
        width: 123px;
    }

    .text-statistic {
        font-size: 1.18em;
    }

    .circle-white{
        height: 32px;
        width: 32px;
    }

    .money{
        font-size: 1.15em !important;
        left: 9px;
    }

    .text-request, .text-transfer{
        font-size: 1.2em;
    }

    .usd{
        font-size: 1.2em;
    }

    .get-plan{
        display: block;
        flex: 1;
        margin-left: 10px;
        display: flex;
    }

    .section-balance{
        display: flex;
    }

    .container-balance{
        width: 68%;
        height: 110px;
    }

    .plan{
        display: none;
    }
    .transactions{
        width: 100%;
        height: 100%;
    }

    .imagem-person{
        justify-content: center;
        gap: 60px;
        margin-top: 10px;
    }

    .transactions img{
        border-radius: 20%;
        height: 70px;
        width: 70px;
    }

    footer{
        display: none;
    }

    .container-all-transactions{
        height: auto;
        max-height: 400px;
    }

    .arrow{
        font-size: 1em;
        top: -2px;
        left: 21px;
        width: 14px;
    }

    .description-transaction{
        font-size: 1.2em;
        margin-left: 0;
    }

    .transaction-value{
        font-size: 1.3em;
    }

    .container-all-transactions{
        overflow-y: hidden;
        max-width: 10000px;

    }
    
    .container-money
    {
        margin-top: 10px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-transactions{
        width: 22%;
        height: 440px;
        padding: 0;
        margin-right: 12px;
    }

    .imagem-person{
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .imagem-person{
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .transactions{
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .imagem-person img{
        height: 50px;
        width: 50px;
        border-radius: 100%;
    }

    .container-image-person{
        display: block;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
    }


    .container-image-person div{
        margin-left: 20px;
        font-size: 1em;
        font-weight: 200;
    }

    .persons{
        display: none;
    }
    .container-transactions{
        padding-top: 0;
    }

    .container-all-transactions{
        border-radius: 0;
    }

    .container-money{
        padding: 0 8px;
    }

    .section-balance{
        height: 80px;
    }

    .container-balance{
        height: 100%;
    }

    .get-plan{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .img-emoji-money{
        margin-left: 30px;
        height: 40px;
        width: 44px;
    }

    .img-emoji-money img{
        height: 23px;
        width: 23px;
    }

    .plan{
        display: none !important;
    }

    .see-more{
        width: 100%;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #cbcbcbb9;
        font-size: 1.2em;
    }
}