@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --font-family-primary: 'Montserrat', 'Roboto', sans-serif; 
    --bg-primary: #1e1e1e;
    --bg-secondary: #3a3a3a;
    --font-color-primary: #ffff;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family-primary);
    color: var(--font-color-primary);
}

body{
    background-color: var(--bg-primary);
}

header, nav, ul{
    width: 100%;
    height: 150px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul li {
    width: 50%;
    height: 100%;
    list-style: none;
}

.perfil, .perfil-nome{
    display: flex;
    align-items: center;
}

.perfil-nome{
    flex-direction: column;
}

.arredondar-imagem{
    object-fit: cover;
    aspect-ratio: 3/4;
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.icone-sino{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--bg-secondary);
    color: #fff;
}