@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


:root {
    --font-family-primary: 'Montserrat', 'Roboto', sans-serif; 
    --bg-primary: #1e1e1e;
    --bg-secondary: #3a3a3a;
    --bg-third: #4d4d4d;
    --bg-orange: #fc8b54;
    --color-barra: #585858;
    --font-color-primary: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html, body {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh !important;
}


body{
  display:flex;
  background: linear-gradient(90deg, rgba(40,40,40,1) 0%, rgba(21,21,21,1) 100%);
  flex-direction: column;
  align-items: space-between;
  margin: 0px;
  padding: 0px;
  background-color: rgb(43, 41, 41);
  color: rgb(241, 240, 232);
  font-family: sans-serif;
}


section{
    width:calc(100% - 10px);
    height: calc(65% - 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    border-radius: 30px 30px 0px 0px;
    padding: 10px 5px 10px 5px;
    background-color: white;
    color: black;
    box-shadow: 200px -60px 190px white ;
}

#sendMoney{
  width: 100%;
  background-color: rgb(255, 85, 24);
}

#foto{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  background-image: url("foto.jpg");
  background-position: center;
  background-size: cover;
}

article{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  border: solid rgb(102, 101, 101) 2px;
  border-radius: 25px;
  background-color: rgb(102, 101, 101);
  color: white;
  height: 13%;
}

#valor{
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-top: 20px;
}

header{
  height: 12%;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  
}

article>main{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 90%;
}
span{
  color:rgb(255, 85, 24)
}

#link{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #585858;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

nav{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#apaga{
  background-image: url(apaga.png);
  background-size: cover;
  background-position: right;
  width: 30%;
  height: 15%;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding-top: 5px;
  background-color: rgb(241, 240, 232);
  cursor: pointer;
  font-size: 1.1rem;
}

button{
    width: 30%;
    height: 15%;
    border: none;
    border-radius: 30px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(241, 240, 232);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

#money{
  font-size: 2em;
}

#bord{
  border-bottom: 2px solid white;
  height: 30%;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 5px;
  background-color: rgb(43, 41, 41);
  width: 50%;
  font-size: 1em;
  
}

input{
  background-color: rgb(43, 41, 41);
  border: none;
  color: white;
  width: 80%;
  height: 70%;
  font-size: 1em;
  text-align: center;
}

#spanValor{
  color:rgb(255, 85, 24);
  font-size: 2em;
}

/*#mobile{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(35% + 20px);
}*/

@media  screen and (min-width: 800px) {
  body{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  section{
    /*transform: rotateX(-90deg);*/
    height: 100%;
    width: 1px;
    border-radius: 50px 0px 0px 50px;
    position:absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
    background-color: rgb(43, 41, 41);
  }

  article{
    width: 60%;
  }

  #valor{
  width: 60%;
  }

  header{
    width: 60%;
  }

  .tec{
    height: 20px;
    width: 20px;
    border: 2px black solid;
    /*float: right;*/
    /*position: relative;
    right: 0px;
    top: 0px;*/
  }

  section:hover{
   width: 40%;
   background-color: white;
  }

  /*#tecContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }*/

  /*#mobile{
    display: flex;
    flex-direction: column;
  }*/

  button{
    overflow: hidden;
  }

  #link{
    position: relative;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
  }
  
  input{
    text-align: center;
  }

  #foto{
    height: 80px;
    width: 80px;
  }

}
